<h1>Listing topic_dates</h1>

<table>
  <tr>
    <th>Topic</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @topic_dates.each do |topic_date| %>
  <tr>
    <td><%= topic_date.topic %></td>
    <td><%= topic_date.date %></td>
    <td><%= link_to 'Show', topic_date %></td>
    <td><%= link_to 'Edit', edit_topic_date_path(topic_date) %></td>
    <td><%= link_to 'Destroy', topic_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Topic date', new_topic_date_path %>
