<%= form_for(@fnfp) do |f| %>
  <% if @fnfp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fnfp.errors.count, "error") %> prohibited this fnfp from being saved:</h2>

      <ul>
      <% @fnfp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :post_id %><br />
    <%= f.number_field :post_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.text_field :tag_id %>
  </div>
  <div class="field">
    <%= f.label :flag %><br />
    <%= f.text_field :flag %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
