<h1>Listing fnfps</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Tag</th>
    <th>Flag</th>
    <th>content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @fnfps.each do |fnfp| %>
  <tr id="<%= fnfp.post_id %>">
    <td><%= fnfp.post_id %></td>
    <td><%= fnfp.tag_id %></td>
    <td><%= fnfp.flag %></td>
    <td><%= fnfp.content %></td>
    <td><%= link_to 'Show', fnfp %></td>
    <td><%= link_to 'Edit', edit_fnfp_path(fnfp) %></td>
    <td><%= link_to 'Destroy', fnfp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <script>
        $.get("/posts/get_features?post_id=<%= fnfp.post_id %>").success(function(data){
           $("#<%= fnfp.post_id %>").append(data);
        });
    </script>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fnfp', new_fnfp_path %>
