<h1>Listing fnfps</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Tag</th>
    <th>Flag</th>
    <th>content</th>
    <th>Change</th>
  </tr>

<% @fnfps.each do |fnfp| %>
  <tr id="<%= fnfp.post_id %>">
    <td><%= fnfp.post_id %></td>
    <td><%= fnfp.tag_id %></td>
    <td><%= fnfp.flag %></td>
    <td><%= fnfp.content %>
    <td><button class="btn btn-success" onclick="change(<%= fnfp.post_id %>,<%= fnfp.tag_id %>,<%= fnfp.flag %>)">change</button></td>
    <script>
       $(document).ready(function(){
           $.get("/posts/get_features?post_id=<%= fnfp.post_id %>").success(function(data){
               var feature_str = "";
               data.features.forEach(function(feature){
                   {
                       feature_str += feature["feature"]+" x "+feature.occurrence+"     ";
                   }
               });
               $("#<%= fnfp.post_id %>").after("<tr style='border-bottom: 1px solid black;'><td></td><td></td><td></td><td>" + feature_str + "</td></tr>");
           });
       });

       function change(post_id,tag_id,flag){
           $.ajax({
               type: "POST",
               url: "posts/change",
               data: {post_id: post_id, tag_id: tag_id, flag: flag},
               success: function (data) {
                    alert("change finish");
                   console.log(data);
               }
           });
       };
    </script>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fnfp', new_fnfp_path %>
