<h1>Listing fnfps</h1>

<table>
  <tr>
    <th>Post</th>
    <th>Tag</th>
    <th>Flag</th>
    <th>content</th>
  </tr>

<% @fnfps.each do |fnfp| %>
  <tr id="<%= fnfp.post_id %>">
    <td><%= fnfp.post_id %></td>
    <td><%= fnfp.tag_id %></td>
    <td><%= fnfp.flag %></td>
    <td><%= fnfp.content %></td>
    <script>
       $(document).ready(function(){
           $.get("/posts/get_features?post_id=<%= fnfp.post_id %>").success(function(data){
               var feature_str = "";
               data.features.forEach(function(feature){
                   {
                       feature_str += feature["feature"]+" x "+feature.occurrence+"     ";
                   }
               });
               $("#<%= fnfp.post_id %>").after("<tr><td></td><td></td><td></td><td>" + feature_str + "</td></tr>");
           });
       })
    </script>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Fnfp', new_fnfp_path %>
