<h3>
  Listing tags
  <%= link_to 'New Tag', new_tag_path, {:class => "btn btn-warning"} %>
</h3>

<table style="  font-size: 16px;" class="table table-hover table-striped">
  <tr>
    <th><input type="checkbox" class="select_all"> Tag</th>
    <!-- <th>is in redis</th> -->
    <th>Local Prior</th>
    <th>Redis Prior</th>
    <th style="text-align: center">F</th>
    <th>Precise</th>
    <th>Recall</th>
    <th>Tp</th>
    <th>Fp</th>
    <th>Tn</th>
    <th>Fn</th>
    <th>Test Volume</th>
    <th style="text-align: center">Last Test Date (UTC)</th>
    <th>
      <button class="btn-small btn-warning" onclick="batchRebuild()">Batch Rebuild</button>
      <button class="btn-small btn-warning" onclick="batchTest()">Batch Test</button>
    </th>
  </tr>

  <% @tags.each do |tag| %>
      <tr id="<%= tag['tag_id'] %>">
        <td><input type="checkbox" class="select_tag" value="<%= tag['tag_id'] %>"> <%= tag['tag_id'] %></td>
        <td name="local_prior"><%= tag['prior'].to_f.round(4) if(tag['prior'])%></td>
        <td name="redis_prior"><%= @redis_prior[tag['tag_id']].to_f.round(4) if(@redis_prior[tag['tag_id']])%></td>
        <td name="f"><%= tag['f'] %></td>
        <td name="precise"><%= tag['precise'] %></td>
        <td name="recall"><%= tag['recall'] %></td>
        <td name="true_positive"><%= tag['true_positive'] %></td>
        <td name="false_positive"><a href="/fnfps?t=<%= tag['tag_id'] %>&f=fp" target="_blank"><%= tag['false_positive'] %></a></td>
        <td name="true_negative"><%= tag['true_negative'] %></td>
        <td name="false_negative"><a href="/fnfps?t=<%= tag['tag_id'] %>&f=fn" target="_blank"><%= tag['false_negative'] %></a></td>
        <td name="test_volume" style="text-align: center"><%= tag['test_volume'] %></td>
        <td name="updated_at" style="text-align: center"><%= tag['updated_at'] %></td>
        <td>
          <button class="btn btn-default btn-sm" onclick="singleRebuild('<%= tag['tag_id'] %>')">Rebuild</button>
          <button class="btn btn-default btn-sm" onclick="showCompare('<%= tag['tag_id'] %>')">Show Compare</button>
        </td>
      </tr>
  <% end %>
</table>

<div class="modal" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:1000px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Data Compare</h4>
      </div>
      <div class="modal-body">
        <table id="compare_show" class="table-hover table">
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary save_to_redis" onclick="saveToRedis()">Save</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script type="text/javascript">
  $(".select_all").click(function () {
    var should_check = $(this).attr("checked") == 'checked';
    $(".select_tag").attr('checked', should_check);
  });

  function addToRedis(tag, e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Running...";
    src.disabled = true;
    $.ajax({
      type: "POST",
      url: "tags/add_to_redis",
      data: {tag: tag},
      success: function (data) {
          src.textContent = "success!";
          if (data["status"] != "ok") {
              alert("failed! Something is wrong!");
          }
      }
    });
  };

  function singleRebuild(tag, e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Running...";
    src.disabled = true;
    $.ajax({
      type: "POST",
      url: "calc/rebuild",
      data: {tags: [tag]},
      success: function (data) {
          src.textContent = "Rebuild";
          src.disabled = false;
          if (data["status"] == "ok") {
            $("#"+tag+" td[name='local_prior']").text(data["priors"][tag]);
            alert("success!");
          }
          else alert("failed! Something is wrong!");
      }
    });
  };

  function showCompare(tag, e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Loading...";
    src.disabled = true;
    $.ajax({
      type: "POST",
      url: "tags/load_data.json",
      data: {tag: tag},
      success: function (data) {
        var show_table = $('#compare_show');
        show_table.children().remove();
        var head_tr = $("<tr>");
        var local_tr = $("<tr>");
        var redis_tr = $("<tr>");

        var temp_td = $("<th>", {"id": "tag_id", "text": tag});
        head_tr.append(temp_td);
        temp_td = $("<th>", {"text": "Prior"});
        head_tr.append(temp_td);

        temp_td = $("<th>", {"text": "Local"});
        local_tr.append(temp_td);
        temp_td = $("<th>", {"id": "local_prior", "text": data["local"]["prior"]});
        local_tr.append(temp_td);

        temp_td = $("<th>", {"text": "Redis"});
        redis_tr.append(temp_td);
        temp_td = $("<th>", {"text": data["redis"]["prior"]});
        redis_tr.append(temp_td);

        for (var i = 0; i < data["features"].length; i++) {
          feature = data["features"][i];
          temp_td = $("<th>", {"text": feature});
          head_tr.append(temp_td);
          temp_td = $("<td>", {"text": data["local"]["likelihood"][feature]});
          local_tr.append(temp_td);
          temp_td = $("<td>", {"text": data["redis"]["likelihood"][feature]});
          redis_tr.append(temp_td);
        }
        show_table.append(head_tr);
        show_table.append(local_tr);
        show_table.append(redis_tr);

        $('#confirmModal').modal('show');
        src.textContent = "Show Compare";
        src.disabled = false;
      }
    });
  };

  function saveToRedis(e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Saving...";
    src.disabled = true;

    tag = $("#tag_id").text();
    local_prior = $("#local_prior").text();
    data = {tag: tag, local_prior: local_prior};
    $.ajax({
      type: "POST",
      url: "tags/save_to_redis",
      data: data,
      success: function (data) {
        if (data["status"] != "ok") {
          alert("Failed! Something is wrong...");
        }
        src.textContent = "Save";
        src.disabled = false;
        $('#confirmModal').modal('hide');
      }
    });
  };

  function batchRebuild(e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Running...";
    src.disabled = true;
    var tag_list = [];
    $('.select_tag').each(function () {
      var checkedStatus = $(this).prop('checked');
      var tag = $(this).attr("value");
      if (checkedStatus)
        tag_list.push(tag);
    });
    if (tag_list.length > 0) {
      $.ajax({
        type: "POST",
        url: "calc/rebuild",
        data: {tags: tag_list},
        success: function (data) {
          src.textContent = "Batch Rebuild";
          src.disabled = false;
          if (data["status"] == "ok") {
            tag_list.forEach(function(e){
              $("#"+e+" td[name='local_prior']").text(data["priors"][e]);
            });
            alert("success!");
          }
          else alert("failed! Something is wrong!");
        }
      });
    } else {
      src.textContent = "Batch Rebuild";
      src.disabled = false;
      alert("no tag seleted!");
    }
  };

  function batchTest(e) {
    e = e || window.event;
    var src = e.srcElement || e.target;
    src.textContent = "Running...";
    src.disabled = true;
    var tag_list = [];
    $('.select_tag').each(function () {
      var checkedStatus = $(this).prop('checked');
      var tag = $(this).attr("value");
      if (checkedStatus)
        tag_list.push(tag);
    });
    if (tag_list.length > 0) {
      $.ajax({
        type: "POST",
        url: "calc/test_rebuild",
        data: {tags: tag_list},
        success: function (data) {
            
          src.textContent = "Batch Test";
          src.disabled = false;
          if (data["status"] == "ok") {
            tag_list.forEach(function(e){
              $("#"+e+" td[name='precise']").text(data["precise"][e]['precise']);
              $("#"+e+" td[name='recall']").text(data["precise"][e]['recall']);
              $("#"+e+" td[name='true_positive']").text(data["precise"][e]['true_positive']);
              $("#"+e+" td[name='false_positive']").text(data["precise"][e]['false_positive']);
              $("#"+e+" td[name='true_negative']").text(data["precise"][e]['true_negative']);
              $("#"+e+" td[name='false_negative']").text(data["precise"][e]['false_negative']);
              $("#"+e+" td[name='test_volume']").text(data["precise"][e]['test_volume']);
              $("#"+e+" td[name='updated_at']").text(data["precise"][e]['updated_at']);
            });
            alert("Test success!");
          }
          else alert("failed! Something is wrong!");
        }
      });
    } else {
      src.textContent = "Batch Test";
      src.disabled = false;
      alert("no tag seleted!");
    }
  };
</script>
